In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [10]:
data = pd.read_csv('Universities.csv', index_col = 'Univ')

In [11]:
data.head(5)

           SAT  Top10  Accept  SFRatio  Expenses  GradRate
Univ
Brown     1310     89      22       13     22704        94
CalTech   1415    100      25        6     63575        81
CMU       1260     62      59        9     25026        72
Columbia  1310     76      24       12     31510        88
Cornell   1280     83      33       13     21864        90

In [12]:
from sklearn.preprocessing import StandardScaler

In [14]:
scaler = StandardScaler()
scaled_data = scaler.fit_transform(data)

In [16]:
from sklearn.cluster import KMeans
model = KMeans(n_clusters = 3)

In [17]:
model.fit(scaled_data)

C:\Users\vighn\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\cluster\_kmeans.py:1412: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

KMeans(n_clusters=3)

In [20]:
data['label'] = model.labels_

In [21]:
data

               SAT  Top10  Accept  SFRatio  Expenses  GradRate  label
Univ
Brown         1310     89      22       13     22704        94      0
CalTech       1415    100      25        6     63575        81      2
CMU           1260     62      59        9     25026        72      0
Columbia      1310     76      24       12     31510        88      0
Cornell       1280     83      33       13     21864        90      0
Dartmouth     1340     89      23       10     32162        95      2
Duke          1315     90      30       12     31585        95      2
Georgetown    1255     74      24       12     20126        92      0
Harvard       1400     91      14       11     39525        97      2
JohnsHopkins  1305     75      44        7     58691        87      2
MIT           1380     94      30       10     34870        91      2
Northwestern  1260     85      39       11     28052        89      0
NotreDame     1255     81      42       13     15122        94      0
PennState     1081     38      54       18     10185        80      1
Princeton     1375     91      14        8     30220        95      2
Purdue        1005     28      90       19      9066        69      1
Stanford      1360     90      20       12     36450        93      2
TexasA&M      1075     49      67       25      8704        67      1
UCBerkeley    1240     95      40       17     15140        78      0
UChicago      1290     75      50       13     38380        87      0
UMichigan     1180     65      68       16     15470        85      0
UPenn         1285     80      36       11     27553        90      0
UVA           1225     77      44       14     13349        92      0
UWisconsin    1085     40      69       15     11857        71      1
Yale          1375     95      19       11     43514        96      2

In [22]:
grp = data.groupby('label')
grp.agg('mean')

               SAT      Top10     Accept    SFRatio      Expenses   GradRate
label
0      1262.500000  78.500000  40.083333  12.833333  22858.000000  87.583333
1      1061.500000  38.750000  70.000000  19.250000   9953.000000  71.750000
2      1362.777778  90.555556  24.333333   9.666667  41176.888889  92.222222